/*
* @Author: baixinxin
* @Date:   2017-06-21 21:47:04
* @Last Modified by:   baixinxin
* @Last Modified time: 2017-06-25 21:15:08
*/
body{
	/*background:url(../../image/girl.png);*/
	background-color: #ccc;
	font-size:50px;
	color:#777;
}